#collections

list* - indexed, ordered, hetro, duplicate , nesting, represented [], method list(), mutable
tuple - 
set 
dict*

In [3]:
list1 = ['nikhil','ruby', 'aman', 'jacob' ]
list2 = [1,2,3,4,5,6,7]
list3 = ['nikhil', 1, 'jacob',2,'ruby',3,'aman',4]
list4 = [[123],[212],[345]]

In [15]:
list = [2,4,6,'a',10,'b',16,'c',20,]
print('list =',list)
print('list[5]=',list[5])
print('list[4]=',list[4])
print('list[-3]=',list[-3])
print('list[-11]=',list[-6])

list = [2, 4, 6, 'a', 10, 'b', 16, 'c', 20]
list[5]= b
list[4]= 10
list[-3]= 16
list[-11]= a

In [13]:
list = [1,2,3,4,5,6,7,8,9,10]
slicelist = list[4:6]
print(slicelist)

[5, 6]

In [22]:
list = [10,20,30,40,50,60,70,80,90]
slicea=list[:4]
sliceb = list[0:6]
print(slicea)
print(sliceb)
slice1 = list[5:]
slice2 = list[5:len(list)]
print(slice1)
print(slice2)

[10, 20, 30, 40]
[10, 20, 30, 40, 50, 60]
[60, 70, 80, 90]
[60, 70, 80, 90]

In [28]:
fruits = []
fruits.append("bananas")
fruits.append("kiwi")
fruits.append("oranges")
fruits.append("cherry")
fruits.append("guava")
fruits

['bananas', 'kiwi', 'oranges', 'cherry', 'guava']

In [32]:
fruits = ['apple', 'mango', 'cherry']
fruits.insert(2,"banana")
print(fruits)

['apple', 'mango', 'banana', 'cherry']

In [39]:
fruits  = ['apple','mango','cherry']
dry_fruits = ['cashew','almond','walnut']
fruits.extend(dry_fruits)
fruits
fruits.sort()
fruits

['almond', 'apple', 'cashew', 'cherry', 'mango', 'walnut']

In [37]:
fruits = ['cherry','apple','banana']
fruits.sort()
fruits

['apple', 'banana', 'cherry']

In [40]:
fruits = ['banana','apple','mango']
fruits.remove('banana')
fruits

['apple', 'mango']

In [42]:
fruits = ['banana','apple','mango']
fruits.pop(0)
fruits

['apple', 'mango']

In [43]:
fruits = ['cherry','kiwi','strawberry']
fruits.reverse()
fruits

['strawberry', 'kiwi', 'cherry']

In [47]:
a = ['e','e','b','c','c','d','d','d']
a.count('d')

3

In [52]:
tuple = (1,2,3,4)
print(tuple)
a = (1,2,[31245],"abhijeet")
print(a)
b = ('cat',1,2.4,3.6,4,'dog')
print(b)
c = 'cat','dog','mango',6,7,[8785]
print(c)

(1, 2, 3, 4)
(1, 2, [31245], 'abhijeet')
('cat', 1, 2.4, 3.6, 4, 'dog')
('cat', 'dog', 'mango', 6, 7, [8785])

In [62]:
x = ('l','m','n','o','p',)
print(x[4])
print(x[0])
print(x[3
        ])

p
l
o

In [67]:
tuple = ('a','b','c','d','e','f','g','h','a')
print(tuple[1:4])
print(tuple[:-5])
print(tuple[:6])
print(tuple[:])
print(tuple[5:])
print(tuple.index('e'))
print(tuple.count('a'))

('b', 'c', 'd')
('a', 'b', 'c', 'd')
('a', 'b', 'c', 'd', 'e', 'f')
('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'a')
('f', 'g', 'h', 'a')
4
2

In [69]:
print((1,2,3)+(4,5,6))
print(('jury')*4)

(1, 2, 3, 4, 5, 6)
juryjuryjuryjury

#set

In [90]:
set = {1,2,3}
print(set)
set1 = {2.3,'hello',(567),2,3,4,5,'mango'}
print(set1)
set2 = {1,2,2,2,3,4,4,4,4,5,5}
print(set2)
set3 = ([1,2,3,4,5])
print(set3)
my_set={1,2,3,4,5,6,7}
my_set.add(2)
print(my_set)
my_set.discard(4)
print(my_set)
my_set.pop()
print(my_set)
my_set.clear()
print(my_set)

{1, 2, 3}
{2, 3, 4, 5, 2.3, 'mango', 567, 'hello'}
{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5]
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 5, 6, 7}
{2, 3, 5, 6, 7}
set()

In [102]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}
print(a.union(b))
print(b.union(a))
print(a|b)
print(b|a)
print(a&b)
a.intersection(b)
print(a-b)
print(b-a)
a.difference(b)
b.difference(a)
print(a^b)
a.symmetric_difference(b)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{8, 6, 7}
{1, 2, 3, 6, 7, 8}

{1, 2, 3, 6, 7, 8}

#dictionary

In [113]:
dict = {'name': 'jacob', 'age': '27'}
print(dict.get('age'))
print(dict['name'])
print(dict.get('name'))
print(dict.get('address'))

27
jacob
jacob
None

#add or update data in dict

In [114]:
dict['age']=29
print(dict)

{'name': 'jacob', 'age': 29}

In [115]:
dict['address']= 'london'
print(dict)

{'name': 'jacob', 'age': 29, 'address': 'london'}

In [116]:
square = {1:1, 2:2, 3:3, 4:4, 5:5}
print(square.pop(4))
print(square.popitem())
square.clear

4
(5, 5)